@page  "/about"
@layout LandingLayout
<div class="podcast-container" id="pod-cast">

    <div class="podcast-container-1">
        <ul>
            <li>
                <a href="#" class="pod-links">EPISODE #01: HIPPRA PODCAST</a>
            </li>
            <li>
                <p>We talk about trends, news, <br> and all things cool, tune in!</p>
            </li>
        </ul>

        <ul class="podcast-logo">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="74" height="70" viewBox="0 0 107 102" fill="none">
                    <g filter="url(#filter0_d_1295_3028)">
                        <ellipse cx="53.2542" cy="51.0048" rx="44.6272" ry="42.1884" fill="white"></ellipse>
                    </g>
                    <path d="M61.8398 42.1694L51.319 35.6937L49.798 34.7575C48.9029 34.2063 47.8623 33.89 46.7875 33.8423C45.7128 33.7946 44.6441 34.0173 43.6959 34.4868C42.7476 34.9562 41.9554 35.6546 41.4038 36.5074C40.8523 37.3601 40.5622 38.3352 40.5645 39.3284V62.6924C40.5643 63.6846 40.856 64.6583 41.4084 65.5095C41.9608 66.3607 42.7532 67.0575 43.7011 67.5257C44.649 67.9938 45.7168 68.2156 46.7905 68.1674C47.8643 68.1193 48.9037 67.803 49.798 67.2523L68.7816 55.5676C69.5949 55.067 70.2617 54.389 70.7229 53.5935C71.1841 52.7981 71.4254 51.9098 71.4254 51.0077C71.4254 50.1055 71.1841 49.2172 70.7229 48.4218C70.2617 47.6263 69.5949 46.9483 68.7816 46.4477V46.4423L67.4509 45.6232" stroke="#1DA39D" stroke-width="6.11416" stroke-linecap="round" stroke-linejoin="round"></path>
                    <defs>
                        <filter id="filter0_d_1295_3028" x="0.013092" y="0.202545" width="116.482" height="111.605" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                            <feOffset></feOffset>
                            <feGaussianBlur stdDeviation="9.30693"></feGaussianBlur>
                            <feComposite in2="hardAlpha" operator="out"></feComposite>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.8 0 0 0 0 0.439216 0 0 0 0 0.847059 0 0 0 0.7 0"></feColorMatrix>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1295_3028"></feBlend>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1295_3028" result="shape"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </li>
            <li>
                <svg class="prev-svg" xmlns="http://www.w3.org/2000/svg" width="166" height="67" viewBox="0 0 166 67" fill="none">
                    <path d="M72.3951 17.9455C72.3951 16.4187 74.0705 15.1822 76.1394 15.1822C78.2083 15.1822 79.8838 16.4187 79.8838 17.9455V49.7718C79.8838 51.2986 78.2083 52.5351 76.1394 52.5351C74.0705 52.5351 72.3951 51.2986 72.3951 49.7718V17.9455ZM108.498 17.9455C108.498 16.4187 106.823 15.1822 104.754 15.1822C102.685 15.1822 101.01 16.4187 101.01 17.9455V49.7718C101.01 51.2986 102.685 52.5351 104.754 52.5351C106.823 52.5351 108.498 51.2986 108.498 49.7718V17.9455ZM165.727 3.63439C165.727 2.10759 164.052 0.871094 161.983 0.871094C159.914 0.871094 158.239 2.10759 158.239 3.63439V64.0614C158.239 65.5882 159.914 66.8247 161.983 66.8247C164.052 66.8247 165.727 65.5882 165.727 64.0614V3.63439ZM122.806 24.1602C122.806 22.6334 121.13 21.3969 119.061 21.3969C116.992 21.3969 115.317 22.6334 115.317 24.1602V43.5356C115.317 45.0624 116.992 46.2989 119.061 46.2989C121.13 46.2989 122.806 45.0624 122.806 43.5356V24.1602ZM137.098 17.9455C137.098 16.4187 135.423 15.1822 133.354 15.1822C131.285 15.1822 129.609 16.4187 129.609 17.9455V49.7718C129.609 51.2986 131.285 52.5351 133.354 52.5351C135.423 52.5351 137.098 51.2986 137.098 49.7718V17.9455ZM151.362 11.0426C151.362 9.51581 149.701 8.29007 147.676 8.29007C145.636 8.29007 143.99 9.51581 143.99 11.0426V56.6639C143.99 58.1907 145.651 59.4165 147.676 59.4165C149.715 59.4165 151.362 58.1907 151.362 56.6639V11.0426ZM0.931641 11.0426C0.931641 9.52656 2.59256 8.29007 4.61772 8.29007C6.65745 8.29007 8.30381 9.51581 8.30381 11.0426V56.6639C8.30381 58.1907 6.64289 59.4165 4.61772 59.4165C2.57799 59.4165 0.931641 58.18 0.931641 56.6639V11.0426ZM15.1806 3.63439C15.1806 2.10759 16.8561 0.871094 18.925 0.871094C20.9938 0.871094 22.6693 2.10759 22.6693 3.63439V64.0614C22.6693 65.5882 20.9938 66.8247 18.925 66.8247C16.8561 66.8247 15.1806 65.5882 15.1806 64.0614V3.63439ZM58.0878 24.1602C58.0878 22.6334 59.7633 21.3969 61.8322 21.3969C63.901 21.3969 65.5765 22.6334 65.5765 24.1602V43.5356C65.5765 45.0624 63.901 46.2989 61.8322 46.2989C59.7633 46.2989 58.0878 45.0624 58.0878 43.5356V24.1602ZM43.7951 17.9455C43.7951 16.4187 45.4706 15.1822 47.5395 15.1822C49.6083 15.1822 51.2838 16.4187 51.2838 17.9455V49.7718C51.2838 51.2986 49.6083 52.5351 47.5395 52.5351C45.4706 52.5351 43.7951 51.2986 43.7951 49.7718V17.9455ZM29.5316 11.0426C29.5316 9.51581 31.1925 8.29007 33.2177 8.29007C35.2574 8.29007 36.9037 9.51581 36.9037 11.0426V56.6639C36.9037 58.1907 35.2428 59.4165 33.2177 59.4165C31.1779 59.4165 29.5316 58.1907 29.5316 56.6639V11.0426ZM86.746 11.0426C86.746 9.51581 88.4069 8.29007 90.4321 8.29007C92.4718 8.29007 94.1182 9.51581 94.1182 11.0426V56.6639C94.1182 58.1907 92.4573 59.4165 90.4321 59.4165C88.3924 59.4165 86.746 58.1907 86.746 56.6639V11.0426Z" fill="#DA5810"></path>
                </svg>
            </li>
            <li>
                <svg class="prev-svg" xmlns="http://www.w3.org/2000/svg" width="180" height="67" viewBox="0 0 180 67" fill="none">
                    <path d="M72.0572 17.9455C72.0572 16.4187 73.7327 15.1822 75.8015 15.1822C77.8704 15.1822 79.5459 16.4187 79.5459 17.9455V49.7718C79.5459 51.2986 77.8704 52.5351 75.8015 52.5351C73.7327 52.5351 72.0572 51.2986 72.0572 49.7718V17.9455ZM108.16 17.9455C108.16 16.4187 106.485 15.1822 104.416 15.1822C102.347 15.1822 100.672 16.4187 100.672 17.9455V49.7718C100.672 51.2986 102.347 52.5351 104.416 52.5351C106.485 52.5351 108.16 51.2986 108.16 49.7718V17.9455ZM179.624 11.0426C179.624 9.51581 177.963 8.29007 175.938 8.29007C173.898 8.29007 172.252 9.51581 172.252 11.0426V56.6639C172.252 58.1907 173.913 59.4165 175.938 59.4165C177.977 59.4165 179.624 58.1907 179.624 56.6639V11.0426ZM165.389 3.63439C165.389 2.10759 163.714 0.871094 161.645 0.871094C159.576 0.871094 157.901 2.10759 157.901 3.63439V64.0614C157.901 65.5882 159.576 66.8247 161.645 66.8247C163.714 66.8247 165.389 65.5882 165.389 64.0614V3.63439ZM122.468 24.1602C122.468 22.6334 120.792 21.3969 118.723 21.3969C116.654 21.3969 114.979 22.6334 114.979 24.1602V43.5356C114.979 45.0624 116.654 46.2989 118.723 46.2989C120.792 46.2989 122.468 45.0624 122.468 43.5356V24.1602ZM136.76 17.9455C136.76 16.4187 135.085 15.1822 133.016 15.1822C130.947 15.1822 129.272 16.4187 129.272 17.9455V49.7718C129.272 51.2986 130.947 52.5351 133.016 52.5351C135.085 52.5351 136.76 51.2986 136.76 49.7718V17.9455ZM151.024 11.0426C151.024 9.51581 149.363 8.29007 147.338 8.29007C145.298 8.29007 143.652 9.51581 143.652 11.0426V56.6639C143.652 58.1907 145.313 59.4165 147.338 59.4165C149.378 59.4165 151.024 58.1907 151.024 56.6639V11.0426ZM0.59375 11.0426C0.59375 9.52656 2.25467 8.29007 4.27983 8.29007C6.31956 8.29007 7.96592 9.51581 7.96592 11.0426V56.6639C7.96592 58.1907 6.30499 59.4165 4.27983 59.4165C2.2401 59.4165 0.59375 58.18 0.59375 56.6639V11.0426ZM14.8427 3.63439C14.8427 2.10759 16.5182 0.871094 18.5871 0.871094C20.656 0.871094 22.3314 2.10759 22.3314 3.63439V64.0614C22.3314 65.5882 20.656 66.8247 18.5871 66.8247C16.5182 66.8247 14.8427 65.5882 14.8427 64.0614V3.63439ZM57.7499 24.1602C57.7499 22.6334 59.4254 21.3969 61.4943 21.3969C63.5631 21.3969 65.2386 22.6334 65.2386 24.1602V43.5356C65.2386 45.0624 63.5631 46.2989 61.4943 46.2989C59.4254 46.2989 57.7499 45.0624 57.7499 43.5356V24.1602ZM43.4572 17.9455C43.4572 16.4187 45.1327 15.1822 47.2016 15.1822C49.2705 15.1822 50.9459 16.4187 50.9459 17.9455V49.7718C50.9459 51.2986 49.2705 52.5351 47.2016 52.5351C45.1327 52.5351 43.4572 51.2986 43.4572 49.7718V17.9455ZM29.1937 11.0426C29.1937 9.51581 30.8546 8.29007 32.8798 8.29007C34.9195 8.29007 36.5658 9.51581 36.5658 11.0426V56.6639C36.5658 58.1907 34.9049 59.4165 32.8798 59.4165C30.84 59.4165 29.1937 58.1907 29.1937 56.6639V11.0426ZM86.4081 11.0426C86.4081 9.51581 88.069 8.29007 90.0942 8.29007C92.1339 8.29007 93.7803 9.51581 93.7803 11.0426V56.6639C93.7803 58.1907 92.1194 59.4165 90.0942 59.4165C88.0545 59.4165 86.4081 58.1907 86.4081 56.6639V11.0426Z" fill="white"></path>
                </svg>
            </li>
            <li>
                <svg class="prev-svg" xmlns="http://www.w3.org/2000/svg" width="137" height="67" viewBox="0 0 137 67" fill="none">
                    <path d="M28.8558 17.9455C28.8558 16.4187 30.5313 15.1822 32.6002 15.1822C34.669 15.1822 36.3445 16.4187 36.3445 17.9455V49.7718C36.3445 51.2986 34.669 52.5351 32.6002 52.5351C30.5313 52.5351 28.8558 51.2986 28.8558 49.7718V17.9455ZM64.959 17.9455C64.959 16.4187 63.2835 15.1822 61.2147 15.1822C59.1458 15.1822 57.4703 16.4187 57.4703 17.9455V49.7718C57.4703 51.2986 59.1458 52.5351 61.2147 52.5351C63.2835 52.5351 64.959 51.2986 64.959 49.7718V17.9455ZM136.422 11.0426C136.422 9.51581 134.761 8.29007 132.736 8.29007C130.697 8.29007 129.05 9.51581 129.05 11.0426V56.6639C129.05 58.1907 130.711 59.4165 132.736 59.4165C134.776 59.4165 136.422 58.1907 136.422 56.6639V11.0426ZM122.188 3.63439C122.188 2.10759 120.513 0.871094 118.444 0.871094C116.375 0.871094 114.699 2.10759 114.699 3.63439V64.0614C114.699 65.5882 116.375 66.8247 118.444 66.8247C120.513 66.8247 122.188 65.5882 122.188 64.0614V3.63439ZM79.2663 24.1602C79.2663 22.6334 77.5908 21.3969 75.5219 21.3969C73.453 21.3969 71.7775 22.6334 71.7775 24.1602V43.5356C71.7775 45.0624 73.453 46.2989 75.5219 46.2989C77.5908 46.2989 79.2663 45.0624 79.2663 43.5356V24.1602ZM93.5589 17.9455C93.5589 16.4187 91.8835 15.1822 89.8146 15.1822C87.7457 15.1822 86.0702 16.4187 86.0702 17.9455V49.7718C86.0702 51.2986 87.7457 52.5351 89.8146 52.5351C91.8835 52.5351 93.5589 51.2986 93.5589 49.7718V17.9455ZM107.822 11.0426C107.822 9.51581 106.162 8.29007 104.136 8.29007C102.097 8.29007 100.45 9.51581 100.45 11.0426V56.6639C100.45 58.1907 102.111 59.4165 104.136 59.4165C106.176 59.4165 107.822 58.1907 107.822 56.6639V11.0426ZM14.5485 24.1602C14.5485 22.6334 16.224 21.3969 18.2929 21.3969C20.3618 21.3969 22.0373 22.6334 22.0373 24.1602V43.5356C22.0373 45.0624 20.3618 46.2989 18.2929 46.2989C16.224 46.2989 14.5485 45.0624 14.5485 43.5356V24.1602ZM0.255859 17.9455C0.255859 16.4187 1.93135 15.1822 4.00022 15.1822C6.06909 15.1822 7.74458 16.4187 7.74458 17.9455V49.7718C7.74458 51.2986 6.06909 52.5351 4.00022 52.5351C1.93135 52.5351 0.255859 51.2986 0.255859 49.7718V17.9455ZM43.2067 11.0426C43.2067 9.51581 44.8677 8.29007 46.8928 8.29007C48.9326 8.29007 50.5789 9.51581 50.5789 11.0426V56.6639C50.5789 58.1907 48.918 59.4165 46.8928 59.4165C44.8531 59.4165 43.2067 58.1907 43.2067 56.6639V11.0426Z" fill="white"></path>
                </svg>
            </li>
            <li>
                <svg class="prev-svg" xmlns="http://www.w3.org/2000/svg" width="123" height="67" viewBox="0 0 123 67" fill="none">
                    <path d="M28.7845 17.9455C28.7845 16.4187 30.46 15.1822 32.5289 15.1822C34.5977 15.1822 36.2732 16.4187 36.2732 17.9455V49.7718C36.2732 51.2986 34.5977 52.5351 32.5289 52.5351C30.46 52.5351 28.7845 51.2986 28.7845 49.7718V17.9455ZM64.8877 17.9455C64.8877 16.4187 63.2122 15.1822 61.1434 15.1822C59.0745 15.1822 57.399 16.4187 57.399 17.9455V49.7718C57.399 51.2986 59.0745 52.5351 61.1434 52.5351C63.2122 52.5351 64.8877 51.2986 64.8877 49.7718V17.9455ZM122.117 3.63439C122.117 2.10759 120.441 0.871094 118.372 0.871094C116.303 0.871094 114.628 2.10759 114.628 3.63439V64.0614C114.628 65.5882 116.303 66.8247 118.372 66.8247C120.441 66.8247 122.117 65.5882 122.117 64.0614V3.63439ZM79.195 24.1602C79.195 22.6334 77.5195 21.3969 75.4506 21.3969C73.3817 21.3969 71.7062 22.6334 71.7062 24.1602V43.5356C71.7062 45.0624 73.3817 46.2989 75.4506 46.2989C77.5195 46.2989 79.195 45.0624 79.195 43.5356V24.1602ZM93.4876 17.9455C93.4876 16.4187 91.8122 15.1822 89.7433 15.1822C87.6744 15.1822 85.9989 16.4187 85.9989 17.9455V49.7718C85.9989 51.2986 87.6744 52.5351 89.7433 52.5351C91.8122 52.5351 93.4876 51.2986 93.4876 49.7718V17.9455ZM107.751 11.0426C107.751 9.51581 106.09 8.29007 104.065 8.29007C102.025 8.29007 100.379 9.51581 100.379 11.0426V56.6639C100.379 58.1907 102.04 59.4165 104.065 59.4165C106.105 59.4165 107.751 58.1907 107.751 56.6639V11.0426ZM14.4773 24.1602C14.4773 22.6334 16.1527 21.3969 18.2216 21.3969C20.2905 21.3969 21.966 22.6334 21.966 24.1602V43.5356C21.966 45.0624 20.2905 46.2989 18.2216 46.2989C16.1527 46.2989 14.4773 45.0624 14.4773 43.5356V24.1602ZM0.18457 17.9455C0.18457 16.4187 1.86006 15.1822 3.92893 15.1822C5.9978 15.1822 7.67329 16.4187 7.67329 17.9455V49.7718C7.67329 51.2986 5.9978 52.5351 3.92893 52.5351C1.86006 52.5351 0.18457 51.2986 0.18457 49.7718V17.9455ZM43.1355 11.0426C43.1355 9.51581 44.7964 8.29007 46.8215 8.29007C48.8613 8.29007 50.5076 9.51581 50.5076 11.0426V56.6639C50.5076 58.1907 48.8467 59.4165 46.8215 59.4165C44.7818 59.4165 43.1355 58.1907 43.1355 56.6639V11.0426Z" fill="white"></path>
                </svg>
            </li>
            <li>
                <svg class="last-svg" xmlns="http://www.w3.org/2000/svg" width="37" height="38" viewBox="0 0 37 38" fill="none">
                    <path d="M28.7152 2.94543C28.7152 1.41862 30.3907 0.182129 32.4595 0.182129C34.5284 0.182129 36.2039 1.41862 36.2039 2.94543V34.7718C36.2039 36.2986 34.5284 37.535 32.4595 37.535C30.3907 37.535 28.7152 36.2986 28.7152 34.7718V2.94543ZM14.4079 9.16016C14.4079 7.63336 16.0834 6.39686 18.1523 6.39686C20.2211 6.39686 21.8966 7.63336 21.8966 9.16016V28.5355C21.8966 30.0623 20.2211 31.2988 18.1523 31.2988C16.0834 31.2988 14.4079 30.0623 14.4079 28.5355V9.16016ZM0.115234 2.94543C0.115234 1.41862 1.79073 0.182129 3.8596 0.182129C5.92846 0.182129 7.60396 1.41862 7.60396 2.94543V34.7718C7.60396 36.2986 5.92846 37.535 3.8596 37.535C1.79073 37.535 0.115234 36.2986 0.115234 34.7718V2.94543Z" fill="white"></path>
                </svg>
            </li>
        </ul>
    </div>
    <div class="line-17"></div>
    <div class="podcast-container-2">
        <ul>
            <li>
                <a href="#" class="pod-links">CHECK OUT CURRENT NEWS!</a>
            </li>
            <li>
                <p>Latest updates on <br> specialized cases</p>
            </li>
        </ul>
        <div class="podcast">
            <div class="sparkle">
                <svg class="group" width="157" height="165" viewBox="0 0 157 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M131.676 114.64C125.925 111.229 115.976 106.507 112.837 102.672C111.542 101.082 112.058 99.878 112.559 99.0779C113.046 98.3364 114.848 97.9344 115.807 98.2676C117.982 98.9754 120.053 100.093 122.011 101.305C126.37 103.978 130.685 106.702 134.894 109.615C137.125 111.155 137.405 113.337 135.666 114.196C134.645 114.692 133.679 115.205 131.676 114.64Z" fill="#CD4631" fill-opacity="0.51"></path>
                    <path d="M22.7912 132.421C23.4645 130.947 24.2296 130.284 25.342 129.311C29.6633 125.57 34.1014 121.957 38.4838 118.328C38.7457 118.12 39.0428 117.89 39.3453 117.755C40.7115 117.073 42.2616 116.255 43.4324 117.747C44.5957 119.268 43.6775 120.766 42.5632 121.864C37.9273 126.489 33.2432 131.069 28.5109 135.603C27.794 136.311 26.7453 136.8 25.7711 136.996C23.3532 137.476 21.8416 135.448 22.7912 132.421Z" fill="#CD4631" fill-opacity="0.51"></path>
                    <path d="M92.5732 151.006C92.2378 152.324 91.0256 152.986 90.265 152.929C89.2391 152.859 88.4493 152.448 87.3118 151.06C86.9208 150.604 86.8439 149.735 86.7222 149.042C85.8692 143.842 84.9808 138.664 84.1909 133.45C83.9809 132.167 83.8155 130.708 84.2046 129.53C84.5639 128.47 85.5988 127.099 86.5303 126.954C87.434 126.8 88.5487 126.989 89.493 128.668C89.8467 129.27 90.0905 130.186 90.2102 131.005C90.9683 136.46 91.7264 141.916 92.4215 147.385C92.5446 148.424 92.5063 149.512 92.5732 151.006Z" fill="#CD4631" fill-opacity="0.51"></path>
                    <path d="M14.5467 85.7449C13.3639 85.0033 12.6933 84.1236 12.7222 83.1901C12.7551 82.0067 13.6638 80.6622 14.5442 79.7806C15.2184 79.1233 16.43 78.9315 17.4301 78.8683C22.4303 78.5523 27.4508 78.2735 32.4768 78.0904C33.3228 78.0466 34.3467 78.2412 35.0307 78.7166C36.143 79.5012 36.4106 80.6753 35.0961 81.6227C34.3608 82.1686 33.5346 82.7203 32.6865 82.8891C27.7653 83.9492 22.8386 84.9137 17.8915 85.8409C16.9878 85.9941 15.6942 86.508 14.5467 85.7449Z" fill="#CD4631" fill-opacity="0.51"></path>
                    <path d="M121.59 62.0765C121.045 61.6403 120.785 60.437 120.936 59.7263C121.154 58.7521 121.731 57.6591 122.488 57.0254C126.03 54.0066 129.695 51.0857 133.326 48.1862C133.857 47.7397 134.497 47.4495 135.137 47.1593C136.58 46.5303 138.354 46.1205 139.038 47.8829C139.434 48.9048 139.077 51.1268 138.307 51.6942C133.583 55.2582 128.633 58.5388 123.711 61.8273C123.308 62.1217 122.54 62.564 121.59 62.0765Z" fill="#CD4631" fill-opacity="0.51"></path>
                    <path d="M34.0181 30.565C35.4493 31.5023 36.571 32.1326 37.5998 32.8936C40.5898 35.0866 43.5723 37.3089 46.5195 39.5527C47.3407 40.1924 48.2174 40.8477 48.812 41.6746C49.2288 42.2629 49.5297 43.5405 49.2306 43.8956C48.7254 44.475 48.0084 45.183 46.8902 44.7734C46.4247 44.6107 45.8202 44.4088 45.3289 44.1133C41.8694 42.0076 38.3951 39.9604 34.9932 37.7454C33.8383 37.0115 32.6724 36.0863 31.8871 34.9546C31.3203 34.1356 31.003 32.5708 31.4064 31.8058C31.7672 31.0915 32.655 30.1805 34.0181 30.565Z" fill="#CD4631" fill-opacity="0.51"></path>
                    <path d="M88.0138 32.8006C87.8965 33.1442 87.7793 33.4878 87.586 33.7785C86.7478 35.0801 86.0318 36.6045 84.1496 35.9166C82.156 35.1973 82.5198 33.4167 82.9129 31.9896C83.8759 28.5575 85.0615 25.1882 86.199 21.7739C86.6308 20.546 87.0978 19.2967 87.7373 18.1902C88.3842 17.0544 89.1777 15.9285 90.739 16.5886C92.1891 17.2174 92.4215 18.4129 92.0915 19.8264C91.7039 21.3492 89.0225 30.0092 88.0138 32.8006Z" fill="#CD4631" fill-opacity="0.51"></path>
                </svg>
            </div>
            <div class="frame-14">
                <div class="recent-breakthroughs">Recent Breakthroughs </div>
                <div class="in-this-week">In this week </div>
                <div class="recently-search"></div>Recently Search
            </div>
            <div class="search">
                <svg class="search2" width="27" height="29" viewBox="0 0 27 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="10.6114" cy="11.1359" rx="10.6114" ry="11.1359" transform="matrix(0.983206 0.182499 -0.165201 0.98626 4.56836 -0.00634766)" stroke="black" stroke-width="1.492" stroke-linecap="round" stroke-linejoin="round"></ellipse>
                    <path d="M19.043 22.4692L22.414 27.5232" stroke="black" stroke-width="1.492" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron text-center hoverable p-4">
    <div class="row">
        <div class="col-md-4 offset-md-1 mx-3 my-3">
            <div class="view overlay">
                <img src="/img/hippra/Hippra_new_logo.png" class="img-fluid" alt="Sample image for first version of blog listing" width="200">
            </div>
        </div>
        
        <br />
        <div class="col-md-7 text-md-center ml-3 mt-3">
            <br />
            <p> </p>
            <h2 class="display-4"> <span class="align-bottom"><b>About</b></span></h2>
            <p class="lead" Color="Blue">Nexus 8 International, LLC</p>
        </div>
        <div class="container">
            <br />
            <div class="row align-items-center">
                <div class="col">
                    @*<div class="h3 mb-2">
                            NEXUS 8 INTERNATIONAL
                        </div>*@
                    <p>
                        @*Our company is poised to facilitate ease of communication among medical professionals and to maximize healthcare outcomes particularly when such collaboration helps to resolve chronically challenging, treatment-resistant or infectious disease cases. As mobile technology expands, it is beginning to re-define current and future healthcare; our platform seeks to fully exemplify this new paradigm by substantially enhancing collaborations via mobile services.*@
                        Without the process of collaboration, humankind would never have evolved to harness the ingenuity, innovation and creativity that has produced some of the world’s most important milestones. At Nexus 8 International, we are poised to facilitate the collaborative process by providing the Hippra application and web-based platform for healthcare providers. This technology will allow physicians to access the infinite intelligence that exists when individuals come together to do meaningful problem solving and to promote positive results when it comes to dealing with difficult to treat medical cases.
                    </p>
                </div>
                @*<div class="col-md-7 text-md-center ml-3 mt-3">
                        <img class="w-100 h-100" src="/img/hippra/Nexus_design.png" />
                    </div>*@
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/hippra/Doctorfemale.png" style="width:100%" max-height="300">
                </div>
                <div class="col-md-4">
                    <img src="/img/hippra/physicianconsult2.jpg" style="width:100% " max-height="300">
                </div>
                <div class="col-md-4">
                    <img src="/img/hippra/physicianconsult3.png" style="width: 100%" max-height="300">
                </div>
            </div>
            <div class="row text-center">
                <div class="card-body">
                    <p class="card-text">Finding meaningful solutions to difficult or challenging cases through the collaborative process promotes added value in 21st Century patient care.</p>
                </div>
            </div>
            <br /><br />
            <div class="container">
                <div class="row text-md-left">
                    <div class="h4">
                        KEY PROBLEMS IN HEALTHCARE TODAY
                    </div>
                    <p>
                        When critical infectious diseases and public health crises occur, like COVID-19, the lack of expedient, efficient global collaboration and a viable alert system among healthcare providers significantly impacts the ability to save lives. Medical professionals face challenging problems every day without having a way to easily connect with colleagues and other care  givers to find the optimal solution for their patients.
                        @*<ul>
                                <li>The current COVID-19 crisis is placing undue demands on our healthcare providers.</li>
                                <li>Physicians in low resource and remote areas have unique challenges in providing adequate care for their patients.</li>
                                <li>Medical professionals face challenging problems every day without having a way to easily connect with colleagues and other care givers to find the optimal solution for their patients.</li>
                                <li>Physicians need an expedient process to connect and collaborate with colleagues through a secure system.</li>
                                <li>Knowledge-sharing among doctors can significantly enhance value and improve patient care.</li>
                                <li>Healthcare providers must deliver services in a timely manner – technology not only allows immediate access to other experts, but does so in a manner that contributes to a more positive patient outcome than if the physician were acting alone.</li>
                            </ul>*@
                    </p>
                    <p> Doctors need an expedient process to connect and collaborate with colleagues through a secure system. Medical professionals have knowledge to share that can significantly enhance value and improve patient care. Healthcare providers must deliver services in a timely manner – technology not only allows immediate access to other experts but does so in a manner that contributes to a more positive patient outcome than if the physician were acting alone.</p>
                </div>
            </div>
            <br />
            <br />
            <div class="text-center d-md-none">
                <img class="img-fluid" src="/img/hippra/Team.png" />
            </div>
            <br />
            <div class="row align-items-center">
                <div class="col d-none d-md-block">
                    <div class="text-center">
                        <img src="/img/hippra/Team.png" width="550" />
                    </div>
                    <br />
                    <div class="h3 mb-2">
                        TEAM
                    </div>
                    <p>
                        Our team is committed to exceptional service in a manner that reflects integrity, sensitivity and enhanced value to our clients so that they may provide the most impactful healthcare to their patients.
                    </p>
                </div>
                <div class="col">
                    <div class="h3 mb-2">
                        The Solution
                    </div>
                    <p>
                    <p class="font-weight-bold">
                        Online Web-based
                    </p>
                    An online HIPAA compliant platform that facilitates ease of communication with specialists and medical colleagues to enhance medical knowledge-sharing, specifically for difficult cases.
                    </p>
                    <p>
                    <p class="font-weight-bold">
                        Mobile Applications
                    </p>
                    Android and iOS based mobile, HIPAA compliant knowledge-sharing applications that are secure, expedient and client-friendly. Perfect for any clinician operating in a low-resource or remote area. Beneficial as an early alert system when disease- threatening, public health issues are at stake, such as <strong>endemics, epidemics and pandemics</strong>.
                    </p>
                    <p>
                        Our company is poised to facilitate ease of communication among medical professionals and to maximize healthcare outcomes particularly when such collaboration helps to resolve chronically challenging or treatment-resistant cases. As mobile technology expands, it is beginning to re-define current and future healthcare; our platform seeks to fully exemplify this new paradigm by substantially enhancing collaborations via mobile services.
                    </p>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <div class="h4">
            </div>
            <br />
            <br />
            @*<div class="text-center d-md-none">
                    <img class="img-fluid" src="/img/hippra/Team.png" />
                </div>*@
            <div class="row align-items-center">
                @*<div class="thumbnail">
                        <div class="w-50 h-50">
                            <div class="col d-none d-md-block">
                                <div class="text-cente">
                                    <img src="/img/hippra/Team.png" />
                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="col">
                            <div class="h3 mb-2">
                                TEAM
                            </div>
                            <p>
                                Our team is committed to exceptional service in a manner that reflects integrity, sensitivity and enhanced value to our clients so that they may provide the most impactful healthcare to their patients.
                            </p>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>
@code {
}





