@inherits LayoutComponentBase


<HeadContent>
    <link rel="stylesheet" href="./css/LoginLayout.css">
</HeadContent>



<div class="dim-background">
    <div class="rectangle-000">
        @Body
   
    </div>
</div>


@code {

}