.settings-layout {
    position: relative;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 60px 55px;
}

.settings-content {
    padding-top: 0;
}

/* Settings Navigation */
.settings-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.settings-nav-item {
    position: relative;
    flex: 1;
    text-align: center;
    border-bottom: 2px solid #000000;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
    text-decoration: none;
}

    .settings-nav-item a {
        display: block;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
    }

    .settings-nav-item:hover a {
        color: var(--green);
    }

    .settings-nav-item a.active {
        color: var(--green);
    }

    .settings-nav-item:hover::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 5px;
        background-color: var(--green);
        transform: translateY(-2px);
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 150ms;
        text-decoration: none;
    }

    .settings-nav-item.active::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 5px;
        background-color: var(--green);
        transform: translateY(-2px);
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 150ms;
        text-decoration: none;
    }

.settings-content {
    position: relative;
}

/* Settings Title */
.settings-title {
    position: relative;
    margin-bottom: 25px;
}

    .settings-title h4 {
        color: #000;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 1px;
    }

.email-id {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 10px;
}

/* Profile Form */

.settings-details {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px 0;
}

.settings-profile {
    position: relative;
}

.settings-profile-form {
    position: relative;
}

.settings-profile-top {
    position: relative;
    width: 50%;
    display: flex;
    gap: 0 45px;
    margin-bottom: 40px;
}

.settings-profile-picture {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
}

.settings-profile-preview {
    position: relative;
    overflow: hidden;
    justify-content: center;
    /* top: 50px; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

    .settings-profile-preview img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

.settings-profile-picture button {
    position: absolute;
    bottom: 0;
    background: #fff;
    transform: translate(90%, -20%);
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    padding: 4px 12px;
    font-size: 16px;
    color: #24292f;
    font-weight: 500;
    font-family: Roboto;
    border-radius: 6px;
    border: 1px solid #d0d7de;
    cursor: pointer;
}

.settings-profile-inputs {
    position: relative;
    width: 70%;
    align-self: center;
    padding-top: 25px;
}

/* Settings Row */

.settings-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 40px;
}

.settings-single {
    grid-column: span 2;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    margin-bottom: 20px;
}

/* Setting Password Reset */

.settings-password-change {
    display: none;
}

    .settings-password-change.visible {
        display: grid;
    }

.settings-password-action {
    position: relative;
    align-self: self-end;
    margin-bottom: 15px;
}

    .settings-password-action a {
        display: block;
        background: none;
        text-decoration: underline;
        border: none;
        color: var(--orange);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
    }

.form-submit {
    display: flex;
    gap: 50px;
}

/* Notification Settings */

/* Setting Edit */

.setting-edit-action {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    background: none;
    text-decoration: underline;
    border: none;
    color: var(--orange);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    transform: translate(-12px, -13px);
}

.account-inputs.editable {
    border: 1px solid var(--green);
}

/* Setting Notification */

.settings-notifications-list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.notifications-table {
    width: 30%;
}

    .notifications-table th {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .notifications-table td {
        color: #242424;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
    }

.form-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

    .form-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.form-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e5e5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid transparent;
}

    .form-slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: -1px;
        bottom: 0px;
        background-color: #ffffff;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border: 1px solid transparent;
        box-shadow: rgb(0 0 0 / 12%) 0px 4px 4px;
    }

.form-switch input:checked + .form-slider {
    background-color: var(--green);
}

    .form-switch input:checked + .form-slider:before {
        background-color: #ffffff;
        box-shadow: rgb(0 0 0 / 12%) -6px 0px 4px;
        border: 2px solid var(--green);
    }

.form-switch input:focus + .form-slider {
    box-shadow: 0 0 1px #ffffff;
}

.form-switch input:checked + .form-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.form-slider {
    border-radius: 34px;
}

    .form-slider:before {
        border-radius: 50%;
    }

/************** Responsive **************/

@media only screen and (max-width: 1280px) {
    .settings-profile-top {
        width: 75%;
    }

    .settings-layout {
        padding: 30px 35px;
    }

    .settings-nav-item a {
        font-size: 18px;
    }
}


.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #000000;
    height: 100px;
    margin: 0 10px 0 10px;
}

.tab {
    width: 33%;
    text-align: center;
    margin-top: 50px;
}

    .tab label {
        font-size: 20px;
        cursor: pointer;
    }

    .tab:hover {
        color: #1da39d;
        border-bottom: 5px solid #1da39d;
    }

    .tab input[type="radio"] {
        display: none;
    }

.tab-content {
    height: auto;
    text-align: justify;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    margin: 10px;
    display: none;
}

input[type="radio"]:checked ~ label {
    color: #1da39d;
}

    input[type="radio"]:checked ~ label ~ .tab-content {
        display: block;
    }
