/* Case */

.case-layout {
    position: relative;
}

.case-top {
    position: relative;
    margin-bottom: 10px;
}

.case-top-action {
    position: relative;
}

    .case-top-action button {
        display: flex;
        align-items: center;
        gap: 0 2px;
        color: var(--green);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: #ffffff;
        border: none;
        cursor: pointer;
    }

.case-layout.orange .case-top-action button {
    color: var(--orange);
}

    .case-layout.orange .case-top-action button svg path {
        stroke: var(--orange);
    }

.profile-tags li {
    margin-right: 10px;
}

.case-content {
    position: relative;
    padding: 0 55px;
}

.case-content-heading {
    position: relative;
    margin-bottom: 30px;
}

    .case-content-heading h3 {
        color: #242424;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 5px;
    }

    .case-content-heading h4 {
        color: var(--darkBlue);
        font-size: 1.25rem;
        font-style: italic;
        font-weight: 600;
        line-height: normal;
    }

.case-content-meta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    padding: 12px 0 12px 33px;
    margin-bottom: 40px;
}

.case-profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

    .case-profile img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .case-profile .case-profile-info div {
        display: flex;
        gap: 10px;
    }

    .case-profile .case-profile-info .color-green {
        color: var(--green);
    }

    .case-profile .case-profile-info h4 {
        font-family: Roboto;
        color: #2b2c34;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        text-transform: capitalize;
    }

    .case-profile .case-profile-info p {
        font-family: Roboto;
        color: #6b6b6b;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

.case-content-date {
    position: relative;
}

.case-content-info {
    position: relative;
}

    .case-content-date p,
    .case-content-info p {
        color: #aaa;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

.case-content-actions {
    display: flex;
    margin-top: 10px;
}

    .case-content-actions button {
        border: none;
        display: inline-flex;
        align-items: center;
        background: transparent;
        color: #6b6b6b;
        padding: 10px;
        cursor: pointer;
    }

        .case-content-actions button img {
            margin-right: 8px;
            height: 24px;
            width: 24px;
        }

.case-main-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

    .case-main-content .case-main-left {
        position: relative;
        width: 35%;
    }

    .case-main-content .case-main-right {
        position: relative;
        width: 65%;
    }

.case-patient {
    position: relative;
    background: #f1f8ff;
    border-radius: 10px;
    padding: 25px 30px;
}

.case-patient-info {
    position: relative;
    margin-bottom: 16px;
}

    /* <-------------------------------------------------------------Edited - Start  */
    .case-patient-info h4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 14px;
        color: #0061c2;
    }
    /* <-------------------------------------------------------------Edited - End  */

    .case-patient-info ul {
        list-style: none;
    }

        .case-patient-info ul li {
            font-family: Roboto;
            color: #000;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

            .case-patient-info ul li span {
                font-weight: 600;
            }

.case-patient-lab {
    position: relative;
    margin-bottom: 30px;
    font-family: Roboto;
}

    .case-patient-lab h6 {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 5px;
    }

    /* <-------------------------------------------------------------Edited - Start  */
    .case-patient-lab p {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

.patient-info-category h6,
.patient-info-sub-category h6 {
    font-size: 15px;
    font-weight: 500;
}

.patient-info-category p,
.patient-info-sub-category p {
    font-size: 15px;
    font-weight: 400;
}

/* <-------------------------------------------------------------Edited - End  */

/* Case Informations */

.case-informations {
    position: relative;
}

    .case-informations:not(:last-child) {
        margin-bottom: 30px;
    }

.case-info-title {
    position: relative;
    margin-bottom: 14px;
}

    .case-info-title h4 {
        color: #0061c2;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .case-info-title hr {
        margin-top: 8px;
        height: 3px;
        border: none;
        background-color: #0061c2;
    }

.case-info-desc {
    position: relative;
}

    .case-info-desc p {
        font-family: Roboto;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

/* Case Tabs */

.case-tabs {
    padding-right: 55px;
    padding-left: 55px;
}

.case-tab-top {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 25px;
}

    .case-tab-top .case-tab-left {
        position: relative;
        width: 35%;
    }

    .case-tab-top .case-tab-right {
        position: relative;
        width: 65%;
    }

.case-tab-btn {
    position: relative;
    display: inline-flex;
    padding: 5px 20px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px 8px 0px 0px;
    color: #0061c2;
    background-color: #ffffff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

    .case-tab-btn.active {
        background-color: #0061c2;
        color: #ffffff;
    }

.case-tab-right::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    background-color: #0061c2;
    width: 100%;
    height: 2px;
}

.case-tab-left::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    background-color: #0061c2;
    width: 100%;
    height: 2px;
}

.case-tab-content {
    position: relative;
}

    .case-tab-content p {
        font-family: Roboto;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

.tab-case-one {
    display: none;
}

.tab-case-two {
    display: none;
}

.tab-case-one.active {
    display: block;
}

.tab-case-two.active {
    display: block;
}

/* Case Comment */
.case-comment {
    position: relative;
    padding-right: 55px;
    padding-left: 55px;
    margin-bottom: 20px;
}

/* <-------------------------------------------------------------Edited - Start  */
.case-comment-form {
    position: relative;
    margin-bottom: 30px;
}

.comment-form-box {
    width: 100%;
    padding: 15px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #e0e4ec;
    background: #f7f7f7;
}

.editing-comment {
    border-radius: 20px;
    border: 1px solid gray;
}

.comment-form-box input {
    border: none;
    background: transparent;
    outline: none;
}

    .comment-form-box input::placeholder {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

.case-comments {
    position: relative;
    align-items: center;
}

.upvote-btn {
    display: flex;
    gap: 5px;
    height: 16px;
    align-text: right;
    font-size: 14px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #6b6b6b;
    font-weight: 400;
    margin-top: 20px;
}

.case-comment-item {
    width: 100%;
    padding: 15px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #e0e4ec;
    background: #f7f7f7;
}

.comment-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 100px;
    width: 175px;
    height: 40px;
    border: 1px solid #e0e4ec;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

    .comment-edit img {
        margin-right: 5px;
    }

.comment-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.case-comment-item:not(:last-child) {
    margin-bottom: 20px;
}

.comment-info {
    align-items: center;
    position: relative;
    margin-left: 10px;
}

    .comment-info div {
        display: flex;
        gap: 10px;
    }

.light-text {
    color: #6b6b6b;
}

.comment-info h6 {
    font-family: "roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.comment-author {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-btns {
    display: flex;
    justify-content: space-between;
}

    .comment-btns button {
        margin-top: 30px;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        padding: 10px 30px 10px 30px;
        line-height: normal;
        align-items: center;
        border: none;
        border-radius: 20px;
        background: #d9d9d9;
        cursor: pointer;
    }

.clicked-btn {
    color: var(--green);
}

.attach-btn {
    display: flex;
    gap: 10px;
}

.last-two-btns :last-child {
    margin-left: 10px;
    background: var(--green);
    color: #ffffff;
}

.attached-files {
    margin-top: 20px;
}

.files {
    width: 500px;
    height: 50px;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
}

.files {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

    .files button {
        border: none;
        background: #f6fbfb;
        height: 0;
        cursor: pointer;
    }

.more-options {
    margin-left: auto;
}

    .more-options button {
        border: none;
        background: #ffffff;
        cursor: pointer;
    }

.more-options-expanded {
    position: absolute;
    right: 10px;
    display: grid;
    height: auto;
    width: auto;
    border: 1px solid #e0e4ec;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

    .more-options-expanded button {
        display: flex;
        gap: 10px;
        padding: 10px 40px 10px 20px;
        border: none;
        background: #ffffff;
        cursor: pointer;
    }

.dim-background {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-box {
    position: absolute;
    background: #ffffff;
    border-radius: 15px;
    height: auto;
    padding: 20px;
}

    .pop-up-box h4 {
        font-size: 20px;
        font-weight: 600;
    }

.option-btns {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

    .option-btns button {
        font-size: 16px;
        font-weight: 700;
        border: none;
        background: #d9d9d9;
        padding: 10px 30px 10px 30px;
        border-radius: 50px;
        cursor: pointer;
    }

    .option-btns :last-child {
        color: #ffffff;
        background: #e94238;
    }

.report-section {
    position: absolute;
    width: min-content;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

    .report-section h4 {
        font-size: 20px;
        font-weight: 600;
    }

    .report-section textarea {
        margin-top: 10px;
        border: 1px solid #e0e4ec;
        border-radius: 10px;
    }

        .report-section textarea::placeholder {
            padding: 10px;
        }

/* <-------------------------------------------------------------Edited - End  */

/********************* Orange Theme *********************/

.case-layout.orange .case-patient {
    background-color: #fff5ef;
}

.case-layout.orange .case-patient-info h4 {
    color: var(--orange);
}

.case-layout.orange .case-info-title h4 {
    color: var(--orange);
}

.case-layout.orange .case-patient-lab h6 {
    color: var(--orange);
}

.case-layout.orange .case-patient-tags h6 {
    color: var(--orange);
}

.case-layout.orange .case-patient-tags ul li a.active {
    background-color: #ffc6c6;
}

.case-layout.orange .case-info-title hr {
    background-color: var(--orange);
}

.case-layout.orange .case-tab-btn {
    color: var(--orange);
}

    .case-layout.orange .case-tab-btn.active {
        background-color: var(--orange);
        color: #ffffff;
    }

.case-layout.orange .clicked-btn {
    color: var(--orange);
}

.case-layout.orange .comment-form-box input:focus-visible {
    border-color: var(--orange);
}

.case-layout.orange .case-tab-right::after {
    background-color: var(--orange);
}

.case-layout.orange .case-tab-left::after {
    background-color: var(--orange);
}

.case-layout.orange .last-two-btns :last-child {
    background: var(--orange);
}

/************** Responsive **************/

@media only screen and (max-width: 1280px) {
    .case-content {
        padding: 0 20px;
    }

    .case-content-heading h3 {
        font-size: 1.625rem;
    }

    .case-content-heading h4 {
        font-size: 1rem;
    }

    .case-content-meta {
        padding: 12px 0 12px 20px;
        margin-bottom: 30px;
    }

    .case-main-content {
        gap: 0 20px;
    }

    .case-patient {
        padding: 20px;
    }

    .case-content-date p,
    .case-content-info p {
        font-size: 0.875rem;
    }

    .case-tabs {
        padding-left: 25px;
        padding-right: 25px;
    }

    .case-tab-btn {
        font-size: 0.875rem;
    }

    .case-comment {
        padding-left: 25px;
        padding-right: 25px;
    }
}




.profile-tags {
    position: relative;
}

    .profile-tags .knowledge-sharing-case {
        color: #0061c2;
        background: #f1f8ff;
    }

    .profile-tags li {
        display: flex;
        padding: 4px 8px;
        border-radius: 10px;
        background: #f7f7f7;
        font-size: 0.875rem;
        font-weight: 500;
        color: #000000;
        text-decoration: none;
    }

    .profile-tags li {
        margin-right: 10px;
    }

    .profile-tags ul {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .profile-tags .ask-for-help-case {
        color: #da5810;
        background: #fff3ed;
    }

