@page "/FTRZLogin"
@model Hippra.Pages.FTDesign.Pages.Identity.FTRZLoginModel

@{
    ViewData["Title"] = "Log in Working one";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/LoginPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&amp;display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="dim-background">
        <div class="rectangle-000">

            <div class="log-in">Log In</div>
            <form id="account" method="post">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="in-put">
                    <div class="input-field">
                        <input placeholder="Email" asp-for="Input.Email" name="Email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="input-field">
                        <input placeholder="Password" asp-for="Input.Password" name="Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember" asp-for="Input.RememberMe">
                    <label for="remember">Remember my Account</label>
                </div>
                <button class="login-btn" type="submit">Log In</button>
            </form>
            <div class="or-div">
                <p>Or</p>
                <a href="/Identity/Account/ForgotPassword" class="">Forgot Password</a><br><br>
                <a href="FTRegister" class="">Register as New User</a>
            </div>

            <div class="h-logo">
                <svg class="h-color" width="241" height="196" viewBox="0 0 241 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 10.8737C0 4.90905 4.83532 0.0737305 10.8 0.0737305H25.6573C31.622 0.0737305 36.4573 4.90906 36.4573 10.8737V185.18C36.4573 191.145 31.622 195.98 25.6573 195.98H10.8C4.83533 195.98 0 191.145 0 185.18V10.8737Z" fill="#1DA39D" fill-opacity="0.1"></path>
                    <path d="M236.93 79.1435H164.763C162.858 79.1435 161.314 77.5887 161.314 75.6713V3.47222C161.314 1.55478 159.77 0 157.865 0H128.305C126.401 0 124.857 1.55478 124.857 3.47222V75.6713C124.857 77.5887 123.312 79.1435 121.408 79.1435H49.2442C47.3397 79.1435 45.7954 80.6983 45.7954 82.6157V112.377C45.7954 114.294 47.3397 115.849 49.2442 115.849H121.412C123.316 115.849 124.86 117.404 124.86 119.321V192.438C124.86 194.356 126.405 195.91 128.309 195.91H157.869C159.773 195.91 161.318 194.356 161.318 192.438V119.321C161.318 117.404 162.862 115.849 164.766 115.849H236.934C238.838 115.849 240.383 114.294 240.383 112.377V82.6157C240.383 80.6983 238.838 79.1435 236.934 79.1435L236.93 79.1435Z" fill="#DA5810" fill-opacity="0.1"></path>
                </svg>
            </div>
        </div>
    </div>

    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/siteJsInterop.js"></script>
</body>
</html>

@section Scripts {
    <environment include="Development">
        <script src="~/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/Identity/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                crossorigin="anonymous"
                integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                crossorigin="anonymous"
                integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds">
        </script>
    </environment>
}
