@using Hippra.Models.ViewModel
@using Microsoft.FluentUI.AspNetCore.Components

@implements IDialogContentComponent<ReportCommentViewModel>

    <FluentDialogHeader ShowDismiss="false">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">

            <FluentLabel Typo="Typography.PaneHeader">
                <h4>Submit a report</h4>
            </FluentLabel>
        </FluentStack>
    </FluentDialogHeader>

  
        <p>
            Thank you for looking out for yourself and fellow Hippra users by
            reporting things that break the rules. Let us know what's happening,
            and we'll look into it.
        </p>


    <form action="">
        <textarea @bind="@Content.ReportText" placeholder="Write about your report..." rows="8" cols="50" required></textarea>
    </form>

    <FluentDialogFooter>
        <div class="option-btns">
            <FluentButton OnClick="@SaveAsync">Save</FluentButton>
            <FluentButton OnClick="@CancelAsync">Cancel</FluentButton>
        </div>
    </FluentDialogFooter>



@code {

    [Parameter]
    public ReportCommentViewModel Content { get; set; } = default!;

    [CascadingParameter]
    public Microsoft.FluentUI.AspNetCore.Components.FluentDialog Dialog { get; set; } = default!;

    private async Task SaveAsync()
    {
        await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}