@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@700&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@500;700&family=Mulish:wght@700&family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&family=Viga&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
    font-family: Arial, sans-serif;
    background-color: #093b58;
    position: relative;
}

header {
    margin-bottom: 10px;
    background-color: #093b58;
    color: #fff;
    padding: 10px 0;
}
/* ------------------  Nav Bar  - Start -------------- */

.nav-bar {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

    .nav-bar ul {
        display: flex;
        list-style: none;
    }

        .nav-bar ul :not(:last-child) {
            margin-right: 20px;
        }

    .nav-bar a {
        text-decoration: none;
        color: #fff;
    }

.nav-left-elements :not(:last-child) {
    margin-right: 20px;
}

.nav-left-elements,
.nav-right-elements {
    display: flex;
    align-items: center;
}

.register-btn {
    background-color: #da5810;
    padding: 4px 10px;
    border-radius: 7px;
    color: #fff;
}

/* ------------  Nav Bar  - End ------------------- */

/* ------------  Intro Text  - Start ------------------- */

.intro-blw-hdr {
    position: relative;
    z-index: 999;
}

.tag-line-hung {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 630px;
    height: auto;
    gap: 10px;
    margin-left: 70px;
}

.bold-tag-line {
    margin-top: 20px;
    color: #fff;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.intro-sub {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.create-acc-btn {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #da5810;
    color: #fff;
    width: fit-content;
    border-radius: 30px;
    padding: 11px 20px;
    margin-left: -10px;
    text-decoration: none;
}

    .create-acc-btn:active {
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
        color: black;
    }

.btn:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.alrdy-reg {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}

    .alrdy-reg a {
        color: #fff;
    }

/* ------------  Intro Text  - End ------------------- */

/* ------------  Globe SVG  - Start ------------------- */

.globe-container {
    position: absolute;
    top: 100px;
    right: 0;
}

    .globe-container svg {
        display: flex;
        width: 100%;
        height: auto;
        z-index: -999;
    }

/* ------------  Globe SVG  - End ------------------- */

/* ------------  WHY Hippra Section  - Start ------------------- */

.why-hippra {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #da5810;
    background-color: rgba(255, 255, 255, 0.55);
    padding-top: 50px;
    margin-top: 200px;
}

.why-container {
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 75px;
}

.container-four {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hd-bold {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-top: 10px;
}

.sub-txt {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 15px;
}

.circle-container {
    display: flex;
    justify-content: center;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.first-circle {
    background-color: #d1fae5;
}

.second-circle {
    background-color: #cffafe;
}

.third-circle {
    background-color: #dbeafe;
}

.fourth-circle {
    background-color: #ede9fe;
}

/* ------------  WHY Hippra Section  - End ------------------- */

/* ------------  Top Features Section  - Start ------------------- */

.features-container {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.top-features {
    color: #fcfcfc;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    text-align: center;
}

.explore_more {
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 30px;
}

.right-arrow-btn {
    display: inline-block;
    transition: transform 0.3s;
}

.explore_more:hover .right-arrow-btn {
    transform: translateX(0.25rem);
}

.feature-container {
    position: relative;
    display: flex;
    gap: 25px;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 75px;
}

.container-three {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.featured-left {
    color: #6f5192;
    background-color: #dcd3e7;
    border-radius: 7px;
    width: fit-content;
    padding: 4px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.featured-center {
    color: #00008b;
    background-color: #b9d9eb;
    border-radius: 7px;
    width: fit-content;
    padding: 4px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.featured-right {
    color: #007f00;
    background-color: #ccffcc;
    border-radius: 7px;
    width: fit-content;
    padding: 4px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.image-container img {
    width: 100%;
    height: 200px;
}

.container-content {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    line-height: 30px;
}

.hd-feature {
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.container-btn {
    text-align: center;
    border: 2px solid #0077cc;
    border-radius: 9px;
    margin: 50px 15px 50px 15px;
}

.more-button {
    display: inline-block;
    padding: 8px 12px;
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
/* ------------  Top Features Section  - End ------------------- */

/* ------------  Podcast Container  - Start ------------------- */

.podcast-container {
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.55);
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 200px;
}

    .podcast-container li {
        list-style: none;
    }

    .podcast-container p {
        color: #fff;
        font-family: Mulish;
        font-size: 35px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

.pod-links {
    text-decoration: none;
    color: #0a0a0a;
    font-family: Viga;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .pod-links:hover {
        color: #fff;
    }

.podcast-container-1 {
    flex: 45%;
    padding-top: 70px;
}

    .podcast-container-1 a,
    p {
        padding-left: 70px;
    }

.podcast-container-2 {
    flex: 55%;
    padding-top: 70px;
}

    .podcast-container-2 p {
        padding-left: 40px;
    }

.podcast-logo {
    display: flex;
    padding: 10px;
    border-radius: 40px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    width: fit-content;
    margin-top: 30px;
    margin-left: 50px;
}

    .podcast-logo li {
        margin-right: 5px;
        margin-top: 0;
    }

.last-svg {
    transform: translateY(15px);
}

.line-17 {
    position: absolute;
    top: -10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px 0 0 0;
    width: 100%;
    transform-origin: 0 0;
    transform: rotate(60deg) scale(1, 1);
    left: 37%;
    filter: blur(1px);
}

.podcast-animate {
    background: #ffffff;
    border-radius: 40px;
    border-style: solid;
    border-color: #000000;
    border-width: 6px;
    width: 380px;
    height: 502px;
    position: relative;
    box-shadow: 10px 20px 0px 0px rgba(29, 163, 157, 1);
    transform-origin: 0 0;
    transform: rotate(10deg) scale(1, 1);
    left: 52%;
    top: -100px;
}

.frame-14 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 24px;
    top: 60px;
}

.recent-breakthroughs {
    color: #000000;
    text-align: left;
    font: 700 31.83px "MontserratAlternates-Bold", sans-serif;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.in-this-week {
    color: #4d4d4d;
    text-align: left;
    font: 500 13.93px "MontserratAlternates-Medium", sans-serif;
    position: relative;
    width: 83.55px;
    height: 16.91px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recently-search {
    color: #000000;
    text-align: left;
    font: 700 18px/120% "MontserratAlternates-Bold", sans-serif;
    position: absolute;
}

.search {
    position: absolute;
    right: 10%;
    left: 80%;
    top: 23%;
    height: 6%;
}

.search2 {
    height: auto;
    position: absolute;
    right: 10.24%;
    left: 11.58%;
    width: 78.18%;
    bottom: 8.33%;
    top: 11.58%;
    height: 80.09%;
    transform: translate(-3.93px, 0px);
    overflow: visible;
}

.sparkle {
    width: 200px;
    height: 200px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(14.375deg) scale(0.994, 1.006);
    left: -50px;
    top: -100px;
}

.group {
    height: auto;
    position: absolute;
    right: 11.66%;
    left: 11.68%;
    width: 76.66%;
    bottom: 11.53%;
    top: 11.51%;
    height: 76.96%;
    overflow: visible;
}
/* ------------  Podcast Container  - End ------------------- */

/* ------------  Pre-footer Container  - Start ------------------- */

.pre-footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.footer-container-four {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 200px;
    height: 200px;
}

.footer-container-four li {
    list-style: none;
    margin-top: 20px;
}

.list-pages p {
    color: #fff;
    font-size: 25px;
    padding: 0;
}

.list-more p {
    color: #fff;
    font-size: 25px;
    padding: 0;
}

.list-subs p {
    color: #fff;
    font-size: 20px;
    padding: 0;
}

.footer-links {
    text-decoration: none;
    color: #03989f;
    font-size: 20px;
}

.footer-text {
    color: #fff;
    margin-left: 50px;
    font-size: 16px;
}

.icons-footer {
    display: flex;
    justify-content: space-between;
}

.fa {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #03989f;
    text-align: center;
    padding-top: 15px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook,
.fa-linkedin,
.fa-twitter {
    color: #093b58;
    text-decoration: none;
    font-size: 20px;
}

.footer {
    background-color: #093b58;
    width: 100%;
    height: 8rem;
    margin-top: 50px;
}

.myButton {
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 10px;
    padding: 5px 10px;
    margin-left: 20px;
}

    .myButton:hover {
        cursor: pointer;
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
    }

/* ------------  Pre-footer Container  - End ------------------- */

/* Responsive */

@media (max-width: 480px) {
    body {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-bar,
    .nav-left-elements {
        padding: 0;
        margin: 0;
    }

    .nav-right-elements {
        display: none;
    }

    .globe-container {
        display: none;
    }

    .intro-blw-hdr {
        text-align: center;
    }

    .tag-line-hung {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 50px;
        font-size: 20px;
        font-weight: 400;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .bold-tag-line {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        padding: 0;
    }

    .intro-sub {
        font-size: 30px;
        margin-left: 10px;
        margin-top: 52px;
        text-align: center;
        padding: 0;
    }

    .create-acc {
        display: inline-block;
        text-align: center;
        padding: 0;
    }

    .create-acc-btn {
        font-size: 20px;
        width: fit-content;
        font-weight: 400;
        margin-left: 0;
        text-align: center;
    }

    .alrdy-reg {
        text-align: center;
        padding: 0;
    }

    .why-hippra {
        padding-left: 0;
        padding-bottom: 50px;
        margin-top: 50px;
        font-size: 40px;
        text-align: center;
    }

    .why-container {
        grid-template-columns: repeat(1, 4fr);
        gap: 50px;
        height: auto;
        padding: 10% 5% 10% 5%;
        place-items: center;
    }

    .container-four {
        margin: 0;
    }

    .features-container {
        margin-top: 100px;
        width: 100%;
    }

    .top-features {
        font-size: 40px;
        padding: 0;
    }

    .explore_more {
        font-size: 20px;
        padding: 0 5% 10% 5%;
    }

    .many-features {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
    }

    .feature-container {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        padding: 0;
        place-items: center;
    }

    .container-three {
        width: 80%;
        height: auto;
        margin: 0;
    }

    .podcast-container {
        display: grid;
        height: auto;
        margin-top: 100px;
        text-align: center;
    }

    .podcast-logo,
    .podcast-animate,
    .line-17 {
        display: none;
    }

    .podcast-container-1 a,
    .podcast-container-1 p,
    .podcast-container-2 a,
    .podcast-container-2 p {
        padding: 0;
    }

    .podcast-container-1,
    .podcast-container-2 {
        padding: 10% 5% 10% 5%;
    }

    .pre-footer-container {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        gap: 25px;
        text-align: center;
        width: 100%;
        padding-top: 50px;
        margin-top: 0;
        margin-left: 0;
    }

    .footer-text {
        font-size: 15px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}
